@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  /* margin: 100px auto;
  max-width: 400px; */
  /* background-color: #50a3a2; */
  background-image: url(https://images.unsplash.com/photo-1564934304050-e9bb87a29c13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-attachment: fixed;
  background-size: cover;
}

/* .auth-form {
  margin-top: 10px;
}

.card {
  background-color: white;
}

.loader {
  margin: 100px auto;
} */

/* .user-details {
  display: flex;
  justify-content: space-between;
}

.user-action {
  display: flex;
  flex-direction: column;
} */
